body {
    padding: 0;
    margin: 0;
    text-align: center;
}
#cover{
    position: fixed;
    z-index: 10;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
}
h1 {
    padding-top: 200px;
    font-family: Monoton;
    font-size: 70px;
}
p{
    font-family: Helvetica;
    font-size: 2em;
}
h2 {
    /*margin: 1em 0 0.25em;*/
}

h2:first-of-type {
    /*margin-top: 0.5em;*/
}

table,
tr,
td {
    border: .5px solid grey;
}

table {
    border-collapse: collapse;
    margin: 0;
}

tr {
    height: 5vh;
    /*height: 0.934vh;*/
}

td {
    width: 4vw;
}

input[type=number] {
    width: 6em;
}

#controls{
    display: none;
}