body {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Avenir;
}
h1 {
    padding-top: 15%;
    font-size: 8vw;
}
p{
    /*font-size: 2em;*/
}
h2 {
    /*margin: 1em 0 0.25em;*/
}

h2:first-of-type {
    /*margin-top: 0.5em;*/
}

table,
tr,
td {
    /*border: .5px solid grey;*/
}

table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-collapse: collapse;
    margin: 0;
    height: 100%;
    width: 100%;
}

tr {
    /*height: 5vh;*/
    /*height: 0.934vh;*/
}

td {
    /*width: 4vw;*/
}

input[type=number] {
    width: 6em;
}

#controls{
    display: none;
    text-align: right;
    padding-right: 25%;
}
#instructions{
    display: none;
    position: fixed;
    z-index: 10;
    margin: 0;
    height: 30%;
    width: 30%;
    left: 70%;
    top: 0;
    background-color: rgba(255,255,255,0.75)
}
#cover{

    display: none;
    position: absolute;
    z-index: -10;
    margin: 0;
    height: 100%;
    width: 100%;
    /*background-color: rgba(255, 255, 255, .5);*/
}